.highlightNote {
  background-color: rgb(255, 255, 0);
}
.contextMenu {
  display: none;
  position: absolute;
  z-index: 10;
}
.contextMenuActive {
  display: block;
}
/* .deleteNote {
  color: pink;
} */
